@impiort url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
body{
 background-color: black;
  color:white;
  padding-bottom:40;
}
.navbar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:black;
}
.navbar-left{
  padding-left: 30px;
  font-size: 30px;
  
}
.navbar-right{
  padding-right: 30px;
  display: flex;
  align-items: center;
}
.a-element{
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  font-family: ubuntu;
  font-size: 25px;
  font-weight: bolder;
}
.main{
  display:flex;
  flex-direction: row;
   justify-content: space-between;
  height: 80vh;
  margin:5px;
  padding-bottom: 90px;
}
.main-left{
  width:60ww;
  
}
.main-right{
  width:40ww;
  padding-left:50px;
  font-size: 20px;
  font-weight: bold;
  font-style:oblique;
  
}
.my-image{
  height:300px;
  width:300px;
  width:50ww;
}
.main-right h1{
  font-size: 40px;
}
.s-h1{
  text-align:center;
  align-items: top;
  color:lightblue;
  font-size:50px;
  letter-spacing: 5px;
  word-spacing: 5px;
}
.only-services{
  display: flex;
  flex-direction: row;
  }
.service1{
  padding: 40px;
  border: 2px solid white;
  margin:20px;
  width:700px;
  
  
}
.heading{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-size: 30px;
}

.services-provided{
  color:white;
  top:100px;
  align-items: top;
  
}
.full-services{
  align-items: top;
  vertical-align:top;
}
